h1#contactpageinfo{
    padding-top: 1em;
    font-size: 1.5em;
    margin: 2em;
}

textarea{
    width: 600px;
    height: 200px;
}

label{
    font-size: 1.2em;
    padding-right: 6em;
}


form{
    margin: 0 auto;
    width: 60%;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}

