div#leftside{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
}

div#rightside{
    padding-top: 1em;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 1em;
}

.donatetext{
    font-size: 1.2em;
    padding-left: .3em;
}

.donatelistitem{
    padding-top: .4em;
    font-size: 1.2em;
}

.donateheader{
    padding-left: .3em;
}

td#donatepagetdleft{
    padding-left: 4em;
    padding-right: 1em;
    width: 50%;
}

img#paypal {
    position: relative;
    height: 3em;
    padding-left: 4em;
    cursor: pointer;
}