/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
   Created on : Feb 24, 2015, 8:34:34 PM
   Author     : Aston
*/
.text{
    color: #ffffff;
}

.thumbnail{
    width: 2em;
    height: 2em;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
}

.container{
    background-color: #738083;
    border-radius: 1em;
}

.nav-item{
    padding-left: .5em;
    padding-right: .5em;
    display: inline;
    font-size: 1.5em;
    cursor: pointer;
}

.nav-item:hover{
    font-weight: bold;
}

.clearfooter{
    height: 6em;
    clear: both;
}

.bar{
    width: 100%;
    height: 6em;
    background-color: lightgray;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;}

.page{
    padding-top: 2em;
    padding-bottom: 2em;
}

div#home-bar{
    width: 100%;
    height: 6em;
}

ul#menubar{
    list-style-type: none;
    padding: 1em;
}

html, body{
    margin: 0 auto;
    background-color: #6d695c;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

div#navbar{
    position: fixed;
    width: 100%;
    height: 6em;
    color: #ffffff;
    top: 0;
    z-index: 1;
}

div#bottombar{
    height: 6em;
    position: relative;
    text-align: center;
}

h3{
    padding: 0;
    margin: 0;
    color: #ffffff;
}

p.size13{
    padding-left: .5em;
    font-size: 1.3em;
}

div#navbarspace{
    height: 6em;
}

div#contentwrapper{
    min-height: 100%;
    margin-bottom: -6em;
    position: relative;
}

img#logo{
    position: relative;
    float: right;
    top: -6em;
    height: 6.3em;
}

img#facebook{
    position: relative;
    width: 3em;
    height: 3em;
    float: right;
    top: -4em;
    right: 9em;
}

img#twitter{
    position: relative;
    width: 3.3em;
    height: 3.4em;
    float: right;
    top: -4.2em;
    right: 2em;
}

img#blogspot{
    position: relative;
    width: 3em;
    height: 3em;
    float: right;
    top: -4em;
    right: -5em;

}