div#projects-wrapper{
    width: 100%;
    min-height: 2em;
}

button#backButton{
    cursor: pointer;
    margin-left: 14em;
}

a#sitecakeLogin{
    padding: 1px 6px;
    text-decoration: none;
    color: buttontext;
    border: 2px outset buttonface;
    background-color: buttonface;
}